In [0]:
data=([(1,'Naval','India', 'Insert'),(2,'Om','US', 'Insert')])
schema="empid int,empname string, country string, operation string"
df=spark.createDataFrame(data,schema)

In [0]:
df.createOrReplaceTempView("source")

In [0]:
%sql
select * from source

In [0]:
%sql
create table if not exists saas.om_silver.employees
( empid int, empname string, country string)

In [0]:
%sql
select * from saas.om_silver.employees;

In [0]:
%sql
merge into saas.om_silver.employees t
using source s
on t.empid = s.empid
when matched then update set t.empid = s.empid, t.empname = s.empname, t.country = s.country
when not matched then insert
( empid, empname, country)
values ( s.empid, s.empname, s.country)

In [0]:
%sql
select * from saas.om_silver.employees

In [0]:
data=([(1,'Naval','UK', 'Update'),(3,'David','Japan', 'Insert')])
schema="empid int,empname string, country string, operation string"
df=spark.createDataFrame(data,schema)

df.createOrReplaceTempView("source")

In [0]:
%sql
merge into saas.om_silver.employees t
using source s
on t.empid = s.empid
when matched then update set t.empid = s.empid, t.empname = s.empname, t.country = s.country
when not matched then insert
( empid, empname, country)
values ( s.empid, s.empname, s.country)

In [0]:
%sql
select * from saas.om_silver.employees

In [0]:
data=([(1,"Naval","UK",'Delete'),(3,'David','India','Update'),(4,'Velentina','India','Insert')])
schema="empid int , empname string, country string, operation string"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("source")

In [0]:
%sql
select * from source

In [0]:
%sql
merge into saas.om_silver.employees t
using source s
on t.empid = s.empid
when matched and s.operation = "Delete" then delete
when matched then update set t.empid = s.empid, t.empname = s.empname, t.country = s.country
when not matched then insert
( empid, empname, country)
values ( s.empid, s.empname, s.country)

In [0]:
%sql
select * from saas.om_silver.employees